<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C# is better</title>
<style >
h1.text-typing{
  font-size:72px;
  color:#dfdfdf;
}
.text-typing{
  overflow:hidden;
  white-space:nowrap;
  width:7.5em;
  -webkit-animation: type 2s steps(15), blink 1s linear infinite; 
  margin:0;padding:0;
  border-right: .1em solid;
}
.text-typing:nth-child(2){
  width:8.5em;
  -webkit-animation: type2 4s steps(19), blink 1s linear infinite;
}
.text-typing:nth-child(3){
  width:8.5em;
  -webkit-animation: type2 8s steps(19), blink 1s linear infinite;
}
@keyframes type{
  from{width:0}
}
@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
}
@keyframes blink{
  0%,100%{border-color:transparent}
  50%{border-color:black}
}

</style>
</head>
<body style="    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;">
<h1 class="text-typing" style="color: green;">C# > JAVA</h1>
<p style="    position: relative;
    right: 200px;" class="text-typing">Não negue Márcio</p>
<p style="    position: relative;
    right: 200px;" class="text-typing">Aceite! xD</p>

</body>
</html>